* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 40px 0px;
}
h1 {
  text-align: center;
  color: rebeccapurple;
}
form {
  border: 5px solid black;
  padding: 4%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  cursor: pointer;
}
form:hover {
  box-shadow: 0px 0px 7px 3px rebeccapurple;
}
textarea {
  width: 97.5%;
  border-radius: 5px;
  height: 70px;
  padding: 5px;
}
button {
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: rebeccapurple;
  font-size: 15px;
}
button:hover {
  background-color: white;
  color: rebeccapurple;
  box-shadow: 0px 0px 7px 3px rebeccapurple;
}
label {
  cursor: pointer;
}
input {
  padding: 5px;
  border-radius: 5px;
}
select {
  padding: 5px;
  border-radius: 5px;
}
.ti {
  color: rebeccapurple;
  font-weight: bolder;
}
input[type="checkbox"] {
  accent-color: rebeccapurple;
}
input[type="radio"] {
  accent-color: rebeccapurple;
}
p {
  color: red;
}
@media all and (max-width: 600px) {
  form {
    width: 80%;
    border: none;
  }
}
@media all and (max-width: 400px) {
  form {
    width: 100%;
    border: none;
  }
  .container {
    margin: 0;
  }
}
