.table {
  width: 100%;
  border: 2px solid rgb(247, 192, 2);
  margin-right: 5%;
  border-radius: 5px;
  padding: 20px;
  height: 281px;
  overflow: scroll;
  text-align: center;
}
.table::-webkit-scrollbar {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
tr {
  border-bottom: 2px solid rgb(247, 192, 2);
  padding: 11px;
}
@media all and (max-width: 900px) {
  .table {
    width: 80%;
    margin-right: 0px;
  }
}
