.container {
  margin-top: 30px;
  cursor: pointer;
}
.card {
  border: 1px solid gray;
  border-radius: 10px;
}

.card-header {
  padding: 10px;
  background-color: gray;
  border-radius: 10px 10px 0px 0px;
}

.card-body {
  padding: 10px;
}
