* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image {
  height: 95%;
}
.image img {
  height: 100%;
  width: 400px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#card {
  height: 95%;
  width: 380px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  cursor: pointer;
}
#invite {
  font-family: "Alex Brush", cursive;
  font-family: "Kaushan Script", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Yesteryear", cursive;
  font-size: 45px;
  text-align: center;
  margin-top: -10px;
}
h3 {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  font-size: 10px;
  position: relative;
  float: left;
  top: -110px;
  left: 140px;
  rotate: -40deg;
  animation: discount infinite 1s;
  color: red;
}

pre {
  font-size: 28px;
  word-break: break-all;
  width: 100px;
  margin-left: 15%;
  margin-bottom: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#dec {
  font-family: "Alex Brush", cursive;
  font-family: "Kaushan Script", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Yesteryear", cursive;
  margin-left: 50%;
}
address {
  align-self: center;
  font-size: 12px;
  padding: 10px;
}
#date {
  padding: 10px;
  align-self: center;
}
@keyframes discount {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
button {
  align-self: center;
  margin: 10px;
  padding: 15px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  width: 200px;
  cursor: pointer;
}
button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media all and (max-width: 600px) {
  .container {
    overflow: scroll;
    height: 100%;
    width: 100%;
    display: block;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  #card,
  .image img {
    width: 100%;
    border-radius: 0px 0px 0px 0px;
  }
}
